<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guestbook Contact Form</title>
    <link rel="stylesheet" href="styles/styles.css">
    <script src="js/guestbook.js" defer></script>
    <link rel="icon" href="images/form-icon.png">
</head>
<body>
    <h1>Contact Form</h1>
    <form id="contact-form">
        <div id="fname-section">
            <label for="fname">First Name
                <span class="err" id="err-fname">
                    first name is required
                </span>
            </label>
            <input type="text" id="fname" name="fname">
        </div>
        <div id="lname-section">
            <label for="lname">Last Name
                <span class="err" id="err-lname">
                    last name is required
                </span>
            </label>
            <input type="text" id="lname" name="lname">
        </div>
        <div id="job-section">
            <label for="job">Job Title
                <span class="err" id="err-job">
                    job title is required
                </span>
            </label>
            <input type="text" id="job" name="job">
        </div>
        <div id="company-section">
            <label for="company">Company
                <span class="err" id="err-company">
                    company is required
                </span>
            </label>
            <input type="text" id="company" name="company">
        </div>
        <div id="url-section">
            <label for="url">LinkedIn URL
                <span class="err" id="err-url">
                    linkedin url is required
                </span>
            </label>
            <input type="text" id="url" name="url">
        </div>
        <div id="email-section">
            <label for="email">Email Address
                <span class="err" id="err-email">
                    email address is required
                </span>
            </label>
            <input type="text" id="email" name="email">
        </div>
        <div id="meet-section">
            <label for="meet">How did we meet?
                <span class="err" id="err-meet">
                    please select an option or add to other
                </span>
                <select id="meet" name="meet">
                    <option value="none">Please Select</option>
                    <option value="hack">Hackathon</option>
                    <option value="intern">Internship</option>
                    <option value="mint">MinT</option>
                </select>
            </label>
        </div>
        <div id="other-section">
            <label for="other">Other (please specify)</label>
            <input type="text" id="other" name="other">
        </div>
        <div id="message-section">
            <label for="message">Message</label>
            <textarea rows="6" id="message" name="message"></textarea>
        </div>
        <div id="mail-section">
            <label for="mail">
                <input type="checkbox" id="mail" name="mail">
                Please add me to your mailing list
            </label>
        </div>
        <div id="format-section">
            <label for="html">Choose an email format:
                <input type="radio" id="html" value="html" name="format">HTML
            </label>
            <label for="text">
                <input type="radio" id="text" value="text" name="format">Text
            </label>
            <span class="err" id="err-format">
                please choose an email format
            </span>
        </div>
        <button type="submit" id="submit-button">Submit</button>
    </form>
</body>
</html>