body {
    font-size: 18px;
    background-color: darkgrey;
}

h1 {
    text-align: center;
}

section {
    background-color: rgb(227, 226, 226);
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
}

nav {
    display: flex;
    align-items: stretch;
}

.nav-button {
    border: none;
    background-color: darkred;
    border-color: darkred;
    padding: 0.5rem 0.75rem;
    border-radius: .25rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin-left: 4.5rem;
    margin-right: 6rem;
}