html {
    padding: 20px;
    background-color: lightgrey;
}

body {
    background-color: white;
    border: 1px solid black;
    font-size: 17px;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

form {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'fn fn ln ln js js'
        'cs cs us us es es'
        'ms ms ms os os os'
        'msg msg msg msg msg msg'
        'bs bs bs bs bs bs'
        'mls mls mls mls mls mls'
        'fs fs fs fs fs fs'
        'b b b b b b'
        'ls ls ls ls ls ls';
    row-gap: 10px;
}

#fname-section {
    grid-area: fn;
}

#lname-section {
    grid-area: ln;
}

#job-section {
    grid-area: js;
}

#company-section {
    grid-area: cs;
}

#url-section {
    grid-area: us;
}

#email-section {
    grid-area: es;
}

#meet-section {
    grid-area: ms;
}

#other-section {
    grid-area: os;
}

#message-section {
    grid-area: msg;
}

#bottom-section {
    grid-area: bs;
}

#link-section {
    grid-area: ls;
}

h1 {
    text-align: center;
}

label {
    font-weight: bold;
}

select {
    display: block;
    height: 40px;
    width: 90%;
}

input[type="text"] {
    display: block;
    width: 90%;
    border: 1px solid grey;
    border-radius: .25rem;
    margin-bottom: 2rem;
    padding: .75rem;
}

textarea {
    display: block;
    width: 100%;
}

#mail-section {
    grid-area: mls;
}

#format-section {
    grid-area: fs;
}

fieldset {
    border: none;
}

button {
    border: none;
    background-color: green;
    border-color: green;
    padding: 0.5rem 0.75rem;
    border-radius: .25rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    grid-area: b;
    width: 7%;
}

#email-section, #other-section {
    display: none;
}

.err {
    color: darkred;
    display: none;
}